version: "3"
services:
  couchdb:
    image: couchdb:latest
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    ports:
      - "5984:5984" #Open temporarily for debugging
    networks:
      - couchnet
  memcached:
    image: memcached
    networks:
      - memnet
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
    networks:
      - minionet
    environment:
      - MINIO_ACCESS_KEY=ACCESS_KEY
      - MINIO_SECRET_KEY=SECRET_KEY
    volumes:
      - ./minio:/export
    command: minio server /export
  redis:
    image: redis
    ports:
      - "6379:6379" #Open temporarily for debugging
    networks:
      - redisnet
  admin:
    build: ./admin
    tty: true
    environment:
      - ADMIN_PORT=10201
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    ports:
      - "10201:10201"
    depends_on:
      - couchdb
    networks:
      - couchnet
      - redisnet
  openid:
    build: ./openid
    tty: true
    environment:
      - OPENID_PORT=10202
      - ISS=localhost
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    ports:
      - "10202:10202"
    depends_on:
      - couchdb
      - memcached
    networks:
      - couchnet
      - memnet
  # web:
  #   image: httpd
  #   volumes:
  #     - ./web/dist:/usr/local/apache2/htdocs/
  #   ports:
  #     - "10200:80"
  chat:
    build: ./chat
    tty: true
    environment:
      - SOCKETCLUSTER_PORT=10203
      - SECRET=5b8ead95c34d7b717826533883705cc6efe9971f2345341b8e570d14ba2fdd38
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    ports:
      - "10203:10203"
    depends_on:
      - couchdb
      - redis
    networks:
      - couchnet
      - redisnet
  messages:
    build: ./messages
    tty: true
    environment:
      - MESSAGES_PORT=10204
      - SECRET=5b8ead95c34d7b717826533883705cc6efe9971f2345341b8e570d14ba2fdd38
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    ports:
      - "10204:10204"
    depends_on:
      - couchdb
    networks:
      - couchnet
  # admin-frontend:
  #   image: httpd
  #   volumes:
  #     - ./admin-frontend:/usr/local/apache2/htdocs/
  #   ports:
  #     - "10205:80"
  accounts:
    build: ./accounts
    tty: true
    environment:
      - ACCOUNTS_PORT=10206
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
      - SECRET=5b8ead95c34d7b717826533883705cc6efe9971f2345341b8e570d14ba2fdd38
    ports:
      - "10206:10206"
    depends_on:
      - couchdb
      - redis
    networks:
      - couchnet
      - redisnet
  files:
    build: ./files
    tty: true
    environment:
      - FILES_PORT=10207
      - MINIO_ACCESS_KEY=ACCESS_KEY
      - MINIO_SECRET_KEY=SECRET_KEY
      - SECRET=5b8ead95c34d7b717826533883705cc6efe9971f2345341b8e570d14ba2fdd38
    ports:
      - "10207:10207"
    depends_on:
      - minio
    networks:
      - minionet
  permissions:
    build: ./permissions
    tty: true
    environment:
      - PERMISSIONS_PORT=10208
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    ports:
      - "10208:10208"
    depends_on:
      - couchdb
    networks:
      - couchnet
networks:
  couchnet:
  memnet:
  minionet:
  redisnet:
